button {
    background-color: #424242;
    color: #ffffff;
    top: 100px;
    left: 39%;
    width: 10em;
    font-size: 2em;
}

h1 {
    position: relative;
    left: 40%;
    width: 6em;
    font-size: 3em;
    top: 5px;
}
/**
.productos {
    position: relative;
    width: 10em;
    height: 3em;
    top: 50px;
    left: 10%;
}

.ventas {
    position: relative;
    width: 10em;
    height: 3em;
    top: 300px;
    left: 0%;
}

.vendedores {
    position: relative;
    width: 10em;
    height: 3em;
    top: 170px;
    left: 24%;
}

.cliente {
    position: relative;
    width: 10em;
    height: 3em;
    top: 50px;
    left: 47%;
}

.proveedores {
    position: relative;
    width: 10em;
    height: 3em;
    top: 300px;
    left: 37%;
}

h1 {
    position: relative;
    left: 44%;
    width: 6em;
}**/