<body>
    <h1>Sala principal</h1>
    <button mat-stroked-button class="productos" (click)="jumpMaiProductos()">PRODUCTOS</button>
    <br>
    <br>
    <br>
    <button mat-stroked-button class="ventas" (click)="jumpMaiVentas()">VENTAS</button>
    <br>
    <br>
    <br>
    <button mat-stroked-button class="vendedores" (click)="jumpMaiVendedores()">VENDEDORES</button>
    <br>
    <br>
    <br>
    <button mat-stroked-button class="cliente" (click)="jumpMaiClientes()">CLIENTES</button>
    <br>
    <br>
    <br>
    <button mat-stroked-button class="proveedores" (click)="jumpMaiProveedores()">PROVEEDORES</button>
</body>
