<body>
    <h1>Sala principal</h1>
    <button mat-stroked-button class="productos" (click)="jumpMaiHome()">PRODUCTOS</button>
    <br>
    <br>
    <br>
    <button mat-stroked-button class="ventas">VENTAS</button>
    <br>
    <br>
    <br>
    <button mat-stroked-button class="vendedores">VENDEDORES</button>
    <br>
    <br>
    <br>
    <button mat-stroked-button class="cliente">CLIENTES</button>
    <br>
    <br>
    <br>
    <button mat-stroked-button class="proveedores">PROVEEDORES</button>
</body>
