<body>
  <h1>Ventas</h1>
      <mat-card class="ventasxAnio3">
        <mat-card-header>
          <mat-card-title>Recibos</mat-card-title>
          <mat-card-subtitle>por compra de porductos</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <table mat-table [dataSource]="shop" class="bbcita2">
            <ng-container matColumnDef = "CI">
              <th mat-header-cell *matHeaderCellDef>Cart item</th>
              <td mat-cell *matCellDef="let element">{{  element.ShoppingCartItemID }}</td>
            </ng-container>

            <ng-container matColumnDef = "SC">
              <th mat-header-cell *matHeaderCellDef>Shop item</th>
              <td mat-cell *matCellDef="let element">{{  element.ShoppingCartID }}</td>
            </ng-container>

            <ng-container matColumnDef = "PI">
              <th mat-header-cell *matHeaderCellDef>Producto id</th>
              <td mat-cell *matCellDef="let element">{{  element.ProductID }}</td>
            </ng-container>

            <ng-container matColumnDef = "DC">
              <th mat-header-cell *matHeaderCellDef>Mes</th>
              <td mat-cell *matCellDef="let element">{{  element.DateCreated }}</td>
            </ng-container>

            <ng-container matColumnDef = "MD">
              <th mat-header-cell *matHeaderCellDef>Ultima actualización</th>
              <td mat-cell *matCellDef="let element">{{  element.ModifiedDate }}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnas3"></tr>
            <tr mat-row *matRowDef="let row; columns: columnas3"></tr>
          </table>
        </mat-card-content>
      </mat-card>
    
      <mat-card class="ventasxAnio4">
        <mat-card-header>
          <mat-card-title>Información</mat-card-title>
          <mat-card-subtitle>de tarjetas</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <table mat-table [dataSource]="credit" class="bbcita">
            <ng-container matColumnDef = "id">
              <th mat-header-cell *matHeaderCellDef>ID</th>
              <td mat-cell *matCellDef="let element" (click)="infoCards(element.CreditCardID)">
                {{  element.CreditCardID }}</td>
            </ng-container>

            <ng-container matColumnDef = "nCar">
              <th mat-header-cell *matHeaderCellDef>Numero</th>
              <td mat-cell *matCellDef="let element" (click)="infoCards(element.CreditCardID)">
                {{  element.CardNumber }}</td>
            </ng-container>

            <ng-container matColumnDef = "type">
              <th mat-header-cell *matHeaderCellDef>Tipo</th>
              <td mat-cell *matCellDef="let element" (click)="infoCards(element.CreditCardID)">{{  element.CardType }}</td>
            </ng-container>

            <ng-container matColumnDef = "month">
              <th mat-header-cell *matHeaderCellDef>Mes</th>
              <td mat-cell *matCellDef="let element" (click)="infoCards(element.CreditCardID)">{{  element.ExpMonth }}</td>
            </ng-container>

            <ng-container matColumnDef = "year">
              <th mat-header-cell *matHeaderCellDef>Año</th>
              <td mat-cell *matCellDef="let element" (click)="infoCards(element.CreditCardID)">{{  element.ExpMonthExpYear }}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnas2"></tr>
            <tr mat-row *matRowDef="let row; columns: columnas2"></tr>
          </table>
        </mat-card-content>
      </mat-card>

      <div class="tablas">
        <table mat-table [dataSource] = 'ventis' class="bbbbb">
            <ng-container matColumnDef = "id">
                <th mat-header-cell *matHeaderCellDef>#</th>
                <td mat-cell *matCellDef="let element" (click)="infoVentas(element.SalesOrderID)">
                  {{  element.SalesOrderID }}</td>
            </ng-container>
    
            <ng-container matColumnDef = "comprador">
                <th mat-header-cell *matHeaderCellDef>Comprador</th>
                <td mat-cell *matCellDef="let element" (click)="infoVentas(element.SalesOrderID)">
                  {{ element.FullNameCustomer == null? "anonimo" : element.FullNameCustomer }}</td>
            </ng-container>

            <ng-container matColumnDef = "vendedor">
              <th mat-header-cell *matHeaderCellDef>Vendedor</th>
              <td mat-cell *matCellDef="let element" (click)="infoVentas(element.SalesOrderID)">
                {{ element.FullNameSalesPerson == nul? "anonimo" : element.FullNameSalesPerson }}</td>
            </ng-container>

            <ng-container matColumnDef = "precio">
              <th mat-header-cell *matHeaderCellDef>Precio</th>
              <td mat-cell *matCellDef="let element" (click)="infoVentas(element.SalesOrderID)">
              $ {{ element.UnitPrice }}</td>
            </ng-container>

            <ng-container matColumnDef = "bonus">
              <th mat-header-cell *matHeaderCellDef>Bonus</th>
              <td mat-cell *matCellDef="let element" (click)="infoVentas(element.SalesOrderID)">
              $ {{ element.Bonus }}</td>
            </ng-container>

            <ng-container matColumnDef = "comision">
              <th mat-header-cell *matHeaderCellDef>Comisión</th>
              <td mat-cell *matCellDef="let element" (click)="infoVentas(element.SalesOrderID)">
                {{ element.CommissionPct }}%</td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="columnas"></tr>
            <tr mat-row *matRowDef="let row; columns: columnas"></tr>
        </table>
      </div>
</body>
