button {
    background-color: #424242;
    color: #ffffff;
    top: -420px;
    left: 400px;
}

.costado {
    position: relative;
    text-align: right;
    width: 17em;
}

.info {
    position: relative;
    left: 250px;
    width: 20em;
    top: -440px;
}