<body>
    <div class="costado">
        <label>Identificador:</label><br>
        <label>Número:</label><br>
        <label>Nombre:</label><br>
        <label>Color:</label><br>
        <label>Existencias sin modificar:</label><br>
        <label>Punto de pedido:</label><br>
        <label>Costo estandar:</label><br>
        <label>Precio de lista:</label><br>
        <label>Tamaño Unidad Código de medida:</label><br>
        <label>Unidad de peso Código de medida:</label><br>
        <label>Peso:</label><br>
        <label>Días de fabricación según el peso:</label><br>
        <label>Línea de producto:</label><br>
        <label>Clase:</label><br>
        <label>Estilo:</label><br>
        <label>ID de subcategoría de producto:</label><br>
        <label>ID de modelo de producto:</label><br>
        <label>Fecha de inicio de venta:</label><br>
        <label>Vender fecha de finalización:</label><br>
        <label>ID de subcategoría de producto:</label><br>
        <label>Guid de fila:</label><br>
        <label>Fecha de modificación:</label><br>
    </div>
    <div class="info">
        <span class="id">{{infoPro.ProductID}}</span><br>
        <span class="id">{{infoPro.ProductNumber}}</span><br>
        <span class="id">{{infoPro.ProductNumber}}</span><br>
        <span class="id">{{infoPro.Color == null? "No definido": infoPro.Color}}</span><br>
        <span class="id">{{infoPro.SafetyStockLevel}}</span><br>
        <span class="id">{{infoPro.ReorderPoint == null? "No definido": infoPro.ReorderPoint}}</span><br>
        <span class="id">{{infoPro.StandardCost == null? "No definido": infoPro.StandardCost}}</span><br>
        <span class="id">{{infoPro.ListPrice == null? "No definido": infoPro.ListPrice}}</span><br>
        <span class="id">{{infoPro.SizeUnitMEasureCode == null? "No definido": infoPro.SizeUnitMEasureCode}}</span><br>
        <span class="id">{{infoPro.WeightUnitMEasureCode == null? "No definido": infoPro.WeightUnitMEasureCode}}</span><br>
        <span class="id">{{infoPro.Weight == null? "No definido": infoPro.Weight}}</span><br>
        <span class="id">{{infoPro.DaysToManufacture == null? "No definido": infoPro.DaysToManufacture}}</span><br>
        <span class="id">{{infoPro.ProductLine == null? "No definido": infoPro.ProductLine}}</span><br>
        <span class="id">{{infoPro.Class == null? "No definido": infoPro.Class}}</span><br>
        <span class="id">{{infoPro.Style == null? "No definido": infoPro.Style}}</span><br>
        <span class="id">{{infoPro.ProductSubcategoryID == null? "No definido": infoPro.ProductSubcategoryID}}</span><br>
        <span class="id">{{infoPro.ProductModelID == null? "No definido": infoPro.ProductModelID}}</span><br>
        <span class="id">{{infoPro.SellStartDate == null? "No definido": infoPro.SellStartDate}}</span><br>
        <span class="id">{{infoPro.SellEndDate == null? "No definido": infoPro.SellEndDate}}</span><br>
        <span class="id">{{infoPro.DiscontinuedDate == null? "No definido": infoPro.DiscontinuedDate}}</span><br>
        <span class="id">{{infoPro.rowguid == null? "No definido": infoPro.rowguid}}</span><br>
        <span class="id">{{infoPro.ModifiedDate == null? "No definido": infoPro.ModifiedDate}}</span>
    </div>
    <button mat-raised-button [mat-dialog-close]="true">Aceptar</button>
</body>