<body>
    <span>ID de entidad comercial: {{infoVend.BusinessEntityID==null? "No espesificado" : infoVend.BusinessEntityID}}</span><br>
    <span>ID de territorio: {{infoVend.TerritoryID==null? "No espesificado" : infoVend.TerritoryID}}</span><br>
    <span>Cuota de ventas: {{infoVend.SalesQuota==null? "No espesificado" : infoVend.SalesQuota}}</span><br>
    <span>Bonus: {{infoVend.Bonus==null? "No espesificado" : infoVend.Bonus}}</span><br>
    <span>Porcentaje de comisión: {{infoVend.CommissionPct==null? "No espesificado" : infoVend.CommissionPct}}</span><br>
    <span>Ventas hasta la fecha: {{infoVend.SalesYTD==null? "No espesificado" : infoVend.SalesYTD}}</span><br>
    <span>Ventas el año pasado: {{infoVend.SalesLastYear==null? "No espesificado" : infoVend.SalesLastYear}}</span><br>
    <span>Ultima modificación: {{infoVend.ModifiedDate==null? "No espesificado" : infoVend.ModifiedDate}}</span><br><br><br>
    <button mat-raised-button [mat-dialog-close]="true">Aceptar</button>
</body>
