button {
    background-color: #424242;
    color: #ffffff;
}

.a {
    position: relative;
    left: 30%;
}

.b {
    position: relative;
    left: 55%;
}

.costado {
    position: relative;
    text-align: right;
    width: 17em;
}

.info {
    position: relative;
    left: 250px;
    width: 15em;
    top: -200px;
}