.ventasxAnio {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: #424242;
    color: #ffffff;
    top: 5em;
    left: 8.4%;
}

.ventasxAnio2 {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: #424242;
    color: #ffffff;
    top: -462px;
    left: 50%;
}

.ventasxAnio3 {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: #424242;
    color: #ffffff;
    top: -400px;;
    left: 8.4%;
}

.ventasxAnio4 {
    width: 500px;
    height: 500px;
    background-color: #424242;
    color: #ffffff;
    top: -930px;
    left: 50%;
}
mat-card-subtitle {
    color: white;
}

div {
    position: relative;
   // width: 100%;
    top: 0px;
    left: 0%;
}

table {
    width: 100%;
}

td {
    background-color: #424242;
    color: #ffffff;
}