.top{
    background-color: #424242;
    color: #ffffff;
    height: 70px;
    width: auto;
}

.login {
    background-color: #424242;
    color: #ffffff;
    left: 77em;
}

.refLogin {
    position: relative;
    left: 50em;
}