.top{
    background-color: #424242;
    color: #ffffff;
    height: 70px;
    width: auto;
}

.login {
    background-color: #424242;
    color: #ffffff;
    left: 80em;
}

.refLogin {
    position: relative;
    left: 50em;
}

body {
    //overflow: hidden;
    position: relative;
    background-color: #212121;
    width: auto;
    height: auto;
  }
