.top {
    background-color: #424242;
    color: #ffffff;
    height: 70px;
}

.fondo {
    background-color: #212121;
}

.login {
    background-color: #424242;
    color: #ffffff;
    left: 80em;
}

.refLogin {
    position: relative;
    left: 50em;
}