<body>
    <mat-card class="main-card">
        <mat-card-header class="titulo">
          <mat-card-title>Iniciemos</mat-card-title>
          <mat-card-subtitle>Ingresa o registrate</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="conte_LoRe">
          <p>
            Encuentra todos los datos relacionados con Adventures Works 2017 de manera fácil y amigable, 
            solo debes ingresar con tu cuenta o registrarte para iniciar tu búsqueda y encontrar toda la información que necesitas
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button class="loginRegister">LOGEAR</button>
          <button mat-stroked-button class="loginRegister">REGISTRAR</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="ventasxAnio">
        
      </mat-card>
</body>