/**


footer {
  background-color: #212121;
}

.canvas {
  width: auto;
  height: auto;
}
*/
.main-card {
//    max-width: 400px;
//    min-width: 400px;
    width: 1100px;
    background-color: #424242;
    color: #ffffff;
    top: 3em;
    left: 8em;
  }

.titulo {
    position: relative;
    left: 32em;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 400px;
  }

.loginRegister {
    width: 10em;
    height: 3em;
    left: 29em;
}

mat-card-subtitle {
      color: white;
}

.conte_LoRe {
    position: relative;
    left: 2em;
}

.ventasxAnio {
    width: 500px;
    height: 500px;
    background-color: #424242;
    color: #ffffff;
    top: 5em;
    left: 8.4%;
}

.topVendedores {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: #424242;
    color: #ffffff;
    top: -53.7%;
    left: 52.6%;
}

body {
    height: 860px;
    background-color: #212121;
}

.backdropBackground {
    background-color: #424242;
    color: #ffffff;
}