.BBLIN {
    color: white;
}
h1 {
    position: relative;
    font-size: 3em;
    width: 300px;
    left: 43%;
    top: 20px;
}
.anime {
    background-color: #5a5a5a;
}

.mat-elevation-z5 {
    width: 800px;
}
.ventasxAnio {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: #424242;
    color: #ffffff;
    top: 5em;
    left: 8.4%;
    overflow: auto;
}

.ventasxAnio2 {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: #424242;
    color: #ffffff;
    top: -462px;
    left: 50%;
    overflow: auto;
}

.ventasxAnio3 {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: #424242;
    color: #ffffff;
    top: -400px;;
    left: 8.4%;
    overflow: auto;
}

.ventasxAnio4 {
    width: 500px;
    height: 500px;
    background-color: #424242;
    color: #ffffff;
    top: -930px;
    left: 50%;
}
mat-card-subtitle {
    color: white;
}

div {
    position: relative;
    top: -370px;
    left: 0%;
}

table {
    width: 100%;
}

td {
    background-color: #424242;
    color: #ffffff;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
    border-radius: 1px !important;
    border: 1px solid  red;
    border-left:none;
  }
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start {
    border-radius: 1px !important;
    border: 1px solid red;
    border-right:none;
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-gap {
    border-radius: 1px !important;
    border-bottom: 1px solid   red;
  }