<body>
    <div class="costado">
        <label>Número de cuenta:</label><br>
        <label>Bandera activa:</label><br>
        <label>ID de entidad comercial:</label><br>
        <label>Calificación crediticia:</label><br>
        <label>Fecha de modificación:</label><br>
        <label>Nombre:</label>
    </div>
    <div class="info">
        <span>{{infoPro.AccountNumber==null? "No especificado" : infoPro.AccountNumber}}</span><br>
        <span>{{infoPro.ActiveFlag==null? "No especificado" : infoPro.ActiveFlag}}</span><br>
        <span>{{infoPro.BusinessEntityID==null? "No especificado" : infoPro.BusinessEntityID}}</span><br>
        <span>{{infoPro.CreditRating==null? "No especificado" : infoPro.CreditRating}}</span><br>
        <span>{{infoPro.ModifiedDate==null? "No especificado" : infoPro.ModifiedDate}}</span><br>
        <span>{{infoPro.Name==null? "No especificado" : infoPro.Name}}</span>
    </div>
    <button mat-raised-button [mat-dialog-close]="true">Aceptar</button>
</body>