<body>
    <div class="costado">
        <label>Identificación del cliente:</label><br>
        <label>Identificación de persona:</label><br>
        <label>ID de tienda:</label><br>
        <label>Número de cuenta:</label><br>
        <label>Ultima modificación:</label><br>
    </div>
    <div class="info">
        <label>{{infoPro.CustomerID==null? "No especificado" : infoPro.CustomerID}}</label><br>
        <span>{{infoPro.PersonID==null? "No especificado" : infoPro.PersonID}}</span><br>
        <span>{{infoPro.StoreID==null? "No especificado" : infoPro.StoreID}}</span><br>
        <span> {{infoPro.AccountNumber==null? "No especificado" : infoPro.AccountNumber}}</span><br>
        <span> {{infoPro.ModifiedDate==null? "No especificado" : infoPro.ModifiedDate}}</span><br><br><br>
    </div>
    <button mat-raised-button [mat-dialog-close]="true">Aceptar</button>
</body>