<h1 mat-dialog-title>Login</h1>
<mat-dialog-content >
    <mat-form-field>
        <mat-label>Usuario</mat-label>
        <input maxlength="50" minlength="1" matInput>
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input type="password" maxlength="50" minlength="1" matInput>
    </mat-form-field>
    <br>
    <a class="registerLink" style="cursor: pointer">Registrarse</a>
</mat-dialog-content >
<mat-dialog-actions>
    <button mat-raised-button cdkFocusInitial [mat-dialog-close]="false">Cancelar</button>
    <button mat-raised-button [mat-dialog-close]="true">Aceptar</button>
</mat-dialog-actions>